/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.mobilemsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  text-align: center; 
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 10vh; 
  flex-direction: column; 
  font-family: "EBGaramond-Regular";
  color: white; 
  font-size: 20px;
}

.mobilemsgbody {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9FCBF4), to(#EAD8FC));
  background-image: -o-linear-gradient(top, #9FCBF4, #EAD8FC);
  background-image: linear-gradient(to bottom, #9FCBF4, #EAD8FC);
  height: 100vh;
}

.sparkle {
    position: fixed;
    z-index: 6;
    opacity: 0.5;
    pointer-events: none;
  }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    overflow: hidden;
  }
  
  .body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9FCBF4), to(#EAD8FC));
    background-image: -o-linear-gradient(top, #9FCBF4, #EAD8FC);
    background-image: linear-gradient(to bottom, #9FCBF4, #EAD8FC);
    height: 93vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .headers {
    font-family: "Inter-Regular";
    color: #666666;
    padding-bottom: 0.6vh;
    text-decoration: none;
  }

  .staroutline {
    max-width: 30%; 
    max-height: 30%;
    padding-bottom: 0.6vh;
    padding-left: 4vh;
    list-style-type: none;
    text-decoration: none;
  }

  .star {
    position: relative;
    top: 26vh;
    max-width: 6vh;
    max-height: 6vh;
    padding-right: 1vh;
  }
  
  .intro {
    padding-left: 10vh;
    padding-right: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
  }
  
  .firstline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    height: 7vh;
  }
  
  .intro1 {
    position: relative;
    top: 26vh;
    padding-left: 2vh; 
    font-size: 35px;
    font-family: "EBGaramond-Regular";
    color: white;
  }
  
  .intro2 {
    position: relative;
    top: 17vh;
    font-family: "EBGaramond-Regular";
    font-size: 70px;
    color: white;
  }
  
  .intro3 {
    position: relative;
    top: 9vh;
    font-size: 18px;
    font-family: "Roboto-Regular";
    color: #737373;
  }
  
  .photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    right: 0; 
  }

  .email {
    position: relative;
    max-width: 4vh;
    max-height: 4vh;
    padding-bottom: 3vh;
    right: 6vh;
  }

  .linkedin {
    position: relative;
    max-width: 3.1vh;
    max-height: 3.1vh;
    padding-left: 2vh;
    padding-bottom: 3vh;
    right: 6vh;
  }

  .resume {
    position: relative;
    max-width: 3.3vh;
    max-height: 3.3vh;
    padding-left: 2vh;
    padding-bottom: 3vh;
    right: 6vh;
  }

  .socials {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }