/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.sparkle {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 100%;
  pointer-events: none;
  -webkit-animation: sparkle-fall 5s linear infinite;
          animation: sparkle-fall 5s linear infinite;
}

@-webkit-keyframes sparkle-fall {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes sparkle-fall {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}